<!--<div class="box1">-->
<!--  <div class="box2">-->
<!--  </div>-->
<!--</div>-->

<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      ようこそ！！<br>
      子育ての悩みを<br>
      いつでも
    </p>
    <p class ="main-visual-name">
      Parentingへ
    </p>
  </div>
</div>
<div class="main">
  <div class="blog"></div>
  <div class="sidebar"></div>
</div>